<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/clinicals.css" %}"/>
    <title>Patient List</title>
</head>
<body>
    <h2>Patient Details</h2>
  
    <table border="2" >
        <thead>
            <td>ID</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Age</td>
        </thead>
        {% for patient in patient_list %}
        <tr>
            <td>{{patient.id}}</td>
            <td>{{patient.first_name}}</td>
            <td>{{patient.last_name}}</td>
            <td>{{patient.age}}</td>
            <td><a href="/update/{{patient.id}}">update</a></td>
            <td><a href="/delete/{{patient.id}}">Delete</a></td>
            <td><a href="/adddata/{{patient.id}}">Add Data</a></td>
            <td><a href="/analyse/{{patient.id}}">analyse</a></td>
        </tr>
        {% endfor %}
    </table>
    <br/>
<a href="create/">Add Patient</a>
</body>
</html>